@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:200,300,400,700);
.brand {
  color: white;
  background-color: #00e5ff;
  height: 80px;
}
.brand .brand-name {
  font-size: 3.7em;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
  color: #424242;
  float: left;
  margin-top: 22px;
}
.brand .brand-tagline {
  display: none;
}
.brand .icon-aoi-checkbox {
  display: block;
  width: 20px;
  height: 20px;
  margin: 10px;
  float: left;
  background-color: white;
}
.brand:after {
  content: "";
  display: block;
  clear: both;
}
li {
  font-size: 1em;
}
