@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:200,300,400,700);
.panel-snackbar {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  background-color: #757575;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.panel-snackbar p {
  padding: 10px 20px;
  width: auto;
  float: left;
  box-sizing: border-box;
}
.panel-snackbar .action-btn {
  width: auto;
  float: left;
  box-sizing: border-box;
  float: right;
  font-size: 1.4em;
  line-height: 1.4285714285714286em;
  color: #00e5ff;
  text-transform: uppercase;
  padding: 10px 20px;
}
.panel-snackbar:after {
  content: "";
  display: block;
  clear: both;
}
