@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:200,300,400,700);
.task {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 300px;
  float: left;
  box-sizing: border-box;
  height: 180px;
  margin: 20px 10px;
  padding: 10px;
}
.task .task-complete-box {
  width: 20px;
  float: left;
  box-sizing: border-box;
  height: 20px;
  margin: 0 10px 10px 0;
}
.task .task-deadline {
  width: auto;
  float: left;
  box-sizing: border-box;
  font-size: 1.4em;
}
.task .task-body {
  clear: both;
  margin-left: 30px;
}
.task .task-body p {
  font-size: 1.4em;
  font-weight: 100;
  font-family: inherit;
}
.task.type-1 {
  background-color: #00e5ff;
}
.task.type-2 {
  background-color: #ffc400;
}
.task.type-3 {
  background-color: #e0e0e0;
}
