<div class="home-left-panel">
   <brand></brand> 
   <section class="panel-organization">
        <button class="btn-add-category"><span class="icon-add">+</span> Category</button>
        <!-- <a href="/#/category/edit/0" class="add-category btn btn-success">+ category</a> -->
        <category-list></category-list>
    </section>
</div>
<div class="home-right-panel">
    <button class="main-fab btn-add-item"><span class="icon-add">+</span> Item</button>
    <section class="panel-task-options"></section>
    <section class="panel-tasks">
        <ul>
            <li class="task type-{{task.type}}" 
                ng-repeat="task in vm.tasks" 
                ng-click="vm.editTask(task.id)">
                <input type="checkbox" class="task-complete-box" />
                <p class="task-deadline"><em class="data-label">Due:</em> <span class="data-value">{{task.date_due | date}}</span></p>
                <div class="task-body">
                    <p>{{task.body}}</p>
                </div>
            </li>
        </ul>
    </section>
    <section class="panel-snackbar">
        <p>{{vm.taskMsg}}</p>
        <a href="/#/" class="action-btn">Dismiss</a>
    </section>
</div>