<!DOCTYPE html>
<html lang="en">
<head>
    <title>Act On It</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <!--App modules styls-->
    <link type="text/css" rel="stylesheet" href="styles/main.css" />
    <link type="text/css" rel="stylesheet" href="styles/panels/brand.css" />
    <link type="text/css" rel="stylesheet" href="styles/panels/organization.css" />
    <link type="text/css" rel="stylesheet" href="styles/panels/snackbar.css" />
    <link type="text/css" rel="stylesheet" href="styles/panels/task-editor.css" />
    <link type="text/css" rel="stylesheet" href="styles/panels/task-options.css" />
    <link type="text/css" rel="stylesheet" href="styles/panels/tasks.css" />
    
</head>
<body ng-app="todo" class="container">
    <ng-view></ng-view>
    
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="bower_components/Materialize/dist/js/materialize.min.js"></script>
    
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/services/todoService.js"></script>
    <script type="text/javascript" src="app/controllers/homeController.js"></script>
    <script type="text/javascript" src="app/controllers/categoryEditController.js"></script>
</body>
</html>