<div class="modal panel-task-editor" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form ng-submit="vm.saveTask($event)">
                <input type="checkbox" ng-model="status" />
                <ul class="task-data">
                    <li>
                        <label for="status">Status</label>
                        <input name="status" type="checkbox" ng-model="status" />
                    </li>
                    <li>
                        <label for="date_due">Due:</label>
                        <input name="date_due" type="text" ng-model="date_due" />
                    </li>
                    <li>
                        <label for="body"></label>
                        <input name="body" type="text" ng-model="body" />
                        {{body}}
                    </li>
                </ul>
                <div class="task-options">
                    <ul>
                        <li>Delete</li>
                        <li>Clone</li>
                        <li>Share</li>
                        <li>
                            <label>Type:</label>
                            <ul>
                                <li ng-repeat="status_type in types">
                                    <input type="radio" ng-model="type" value="{{status_type.id}}" />{{status_type.label}}
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <button type="submit"><span class="icon-check"></span>Save</button>
                </div>
            </form>
        </div>
    </div>
</div>